.app {
    background-image: url("../images/topography.png");
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Georgia;
    width: 100vw;
}

.overlay {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.banner {
    background-color: #67b6ff;
    flex-wrap: wrap;

}

#banner2 {
    background-color: #333;
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.9);
    border-bottom-style: groove;
    border-bottom-color: #67b6ff;
    border-bottom-width: 2px
}

.top {
    margin-left: auto;
    display: -webkit-flex;
    margin-right: auto;
    max-width: 960px;
}

#nameBox {
    font-size: 3em;
    color: #67b6ff;
    padding: 24px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}

.top > form {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
}
#topicInput {
    border-color: #67b6ff;
    border-style: solid;
    border-width: 2px;
}
.topicArea {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    flex-wrap: wrap;
}
.content {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50vh;
    display: -webkit-flex;
    flex-direction: row;
}
#mainContent {
    width: 80vw;
    display: -webkit-flex;
    flex: none;
    background-color: #ffffff;
    border-color: #dddddd;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 112px;
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.6);
}

#mainContent, .sidebar {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

#mainContent > h1 {
    margin: auto;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    background-color: #565656;
    color: transparent;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.gifArea {
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
    padding: 20px;
    padding-left: 0;
    font-size: small;
    text-align: center;
    color: #67b6ff;
    background-color: #333;
    border-top-style: groove;
    border-top-width: 10px;
    border-color: #67b6ff;
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.6);
  }

#alt {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#container {
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
    display: -webkit-flex;
    justify-content: center;
    border-top-color: #67b6ff;
    border-top-style: groove;
    border-top-width: 5px;
    border-bottom-color: #67b6ff;
    border-bottom-style: groove;
    border-bottom-width: 5px;
    box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.6);
}

#container > div {
    position: relative;
    background-color: #555;
    margin: auto;
    padding: 20px;
}
#container > h1 {
    position: relative;
    margin: auto;
    background-color: #555;
    color: #dddddd;
    padding: 20px;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    color: #dddddd;
    border: none;
}

#pic1 {
    margin: auto;
    background-color: black;
}

.topic {
    border-radius: 25px;
    background-color: #444;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    display: -webkit-flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #dddddd;
}

#topicB {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
    color: #dddddd;
    margin: auto;
    background-color: transparent;
}

.gif {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 2%;
    border-color: #67b6ff;
    color: #dddddd;
    border-style: solid;
    border-width: 1px;
}

#remove {
    border: none;
    cursor: pointer;
    text-align: center;
    margin: auto;
    color: #dddddd;
    background-color: transparent;
}


  /* Media queries */

@media only screen and (min-width: 768px) and (max-width: 989px) {
   .top {
        width: 80%;
    }
    
    .content {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }

    #mainContent {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .sidebar {
        order: 2;
        background-color: #ffffff; 
        text-align: center;
        width: 80%;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 0px;
        margin-bottom: 112px;
    }
  }

  @media only screen and (max-width: 767px) {
    
   .top {
        flex-wrap: wrap;
    }
    
    #nameBox {
        width: 100vw;
        text-align: center;
    }
    
    .content {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }

    #mainContent {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .sidebar {
        text-align: center;
        width: 80%;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 112px;
    }

    #subpageBox {
        color: #ffffff;
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: auto;
        font-family: sans-serif;
    }
  }